
/* Gallery */

.gallery {

	display: grid;
	grid-gap: 15px;
	margin: 15px 0;
	padding: 30px;
	background: rgba($white, 0.8);
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: minmax(250px, auto);

	.highlight {

		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0;
		overflow: hidden;
		cursor: pointer;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
		transition: $fastTransition;

		&:first-child {

			grid-column: span 3;

		}

		&:last-child {

			grid-column: span 3;

		}

		&:hover, &:focus {

			box-shadow: 0px 0px 10px 1px rgba($lightGray, 0.7);

		}

		.caption {

			background: $black;
			width: 100%;
			color: $white;
			padding: 15px;

			h1, h2, h3 {

				margin: 0;

			}

			.fa {

				width: 100%;
				text-align: center;
				margin: 15px 0;

			}

		}

		img {

			max-width: 100%;
			transition: $fastTransition;

			&:hover, &:focus {

				filter: grayscale(100%);

			}

		}

		@media screen and (max-width: 425px) {

	    	grid-column: span 3;

	  	}

	}

	.highlight-flex-start {

		align-items: flex-start;

	}

	.content {

		background: $white;
		border: 1px solid $lightGray;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		color: $black;
		overflow: hidden;
		cursor: pointer;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
		transition: $fastTransition;

		&:first-child {

			grid-column: span 3;

		}

		&:last-child {

			grid-column: span 3;

		}

		&:hover, &:focus {

			box-shadow: 0px 0px 10px 1px rgba($lightGray, 0.7);

		}

		.caption {

			width: 100%;
			padding: 10px;

			h1, h2, h3 {

				margin: 0;

			}

			.fa {

				width: 100%;
				text-align: center;
				margin: 15px 0;

			}

		}

		img {

			max-width: 100%;
			transition: $fastTransition;

			&:hover, &:focus {

				filter: grayscale(100%);

			}

		}

		@media screen and (max-width: 425px) {

	    	grid-column: span 3;

	  	}


	}

	.content-flex-start {

		align-items: flex-start;

	}

	.content-flex-end {

		align-items: flex-end;

	}

	.content-flex-center {

		align-items: center;

	}

	.both {

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		color: $white;

		&:first-child {

			grid-column: span 3;

		}

		&:last-child {

			grid-column: span 3;

		}

		.item {

			background: $lightGray;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			border: 1px solid $lightGray;
			height: 48%;
			width: 100%;
			overflow: hidden;
			cursor: pointer;
			box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
			transition: $fastTransition;

			&:first-child {

				margin: 0 0 15px 0;

			}

			&:hover, &:focus {

				box-shadow: 0px 0px 10px 1px rgba($lightGray, 0.7);

			}

			.caption {

				width: 100%;
				padding: 10px;

				h1, h2, h3 {

					margin: 0;

				}

				.fa {

					width: 100%;
					text-align: center;
					margin: 15px 0;

				}

			}

			.text {

				height: 100%;

			}

			img {

				max-width: 100%;
				transition: $fastTransition;

				&:hover, &:focus {

					filter: grayscale(100%);

				}

			}

			@media screen and (max-width: $mobileLargeLandscape) {

		    	height: 100%;

		  	}

		}

		@media screen and (max-width: $mobileLargeLandscape) {

	    	grid-column: span 3;

	  	}

	}


	@media screen and (max-width: $mobileLargeLandscape) {

    	grid-template-rows: 1fr 1fr 1fr 1fr;

  	}

}