
/* Features */

.layout {

	padding: 30px 30px 30px 100px;
	width: 70%;
	margin: 0 0 0 15%;

	.item {

		position: relative;

		h1, h2, h3, h4 {

			text-align: center;

		}

		i {

			position: absolute;
			font-size: 18em;
			top: 30%;
			left: -320px;

		}

		.grid {

			.item {

				i {

					position: relative;
					top: 0;
					left: 0;
					font-size: 8em;

				}

			}

		}

	}

}


.layout-flip {

	padding: 30px 100px 30px 100px;
	width: 70%;
	margin: 0 0 0 15%;

	.item {

		position: relative;

		h1, h2, h3, h4 {

			text-align: center;

		}

		i {

			position: absolute;
			font-size: 18em;
			top: 30%;
			right: -320px;

		}

		.grid {

			.item {

				i {

					position: relative;
					top: 0;
					left: 0;
					font-size: 8em;

				}

			}

		}

	}

}