
/* Navbar */

.navbar-toggler {

  width: 32px;
  height: 32px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: none;

}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 70%;
  background: $white;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
  top: 6px;
}

.navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
  top: 14px;
}

.navbar-toggler span:nth-child(4) {
  top: 21px;
}

.navbar-toggler.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggler.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-toggler.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar {

  background: $black;

  a {

    color: $white;
    padding: 0 5px;
    margin: 0 5px;

    span {

      background: $white;
      color: $black;
      padding: 0 5px;
      margin: 0 5px;

    }

  }

  i {

    color: $white;
    transition: $fastTransition;

    &:hover, &:focus {

      color: $blue;

    }

  }

  div {

    ul {

      list-style-type: none;
      display: inline-block;
      margin: 0;
      padding: 0;

      li {

        display: inline-block;
        margin: 0 5px;

        a {

          color: $white;

        }

      }

    }

  }

  .navbar-toggler {

    display: block;
    margin: 5px 0 0 15px;

  }

  .btn {

    margin: 0;

  }

}


.nav-content {

  background-color: rgba($pink, 1) !important;
  padding: 15px 0;
  position: fixed;
  top: -132px;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 0.5s;

  h1, h2, h3, h4, p {

    text-align: center;
    color: $white;

  }

  .container {

    .row {

      .col {

        text-align: center;
        color: $white;

        i {

          display: block;
          text-align: center;
          padding: 15px;

        }

      }

    }

  }

}

.nav-content.open {

  top: 54px;

}

.navbar-title {

  text-transform: capitalize;
  margin: 40px 0 20px 0;

}