/* Radio buttons */

.radio {

	list-style-type: none;
	margin: 15px 0 30px;
	padding: 0;
	display: block;

	li {
		display: inline-block;
		vertical-align: middle;
		padding: 0 15px 0 0;
	}

	li:last-child {
		padding: 0;
	}

}