
/* Typography */

h1, h2, h3, h4 {

	font-family: $titleFontFamily;
	font-weight: $titleFontWeight;

	@media (max-width: $mobileLargePortrait) {

		text-align: center;

	}

}

h1 {

	font-size: 5em;

}

body {

	font-family: $bodyFontFamily;
	font-size: $bodyFontSize;

}

.navbar {

  	a {

    	font-family: $titleFontFamily;
		font-weight: $titleFontWeight;
		font-size: $navbarFontSize;

  	}

}